/* ************************** Media queries ******************************************** */

/* For iPad (768px) */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h3 {
        font-size: 8px;
    }
}

/* For smartphones (350-365px) */
@media screen and (max-width: 365px) {
    body {
        font-size: 12px;
    }
    h3 {
        font-size: 8px;
    }
}

/* ********************************* Regular page CSS ************************************************** */

body {
    margin: 0;
    background-color: #797979;
}

h3 {
    color: #f98959;
}

header {
    /* padding: 10px 0; */

    && .header-container {
        
        background-color: black;
        color: white;
        padding: 1em;

        && .header-website-title {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: italic;
            font-size: 2.5em;
        }

        && .header-job-role {
            position: absolute;
            top: 60px;
            left: 20px;
            font-style: italic;
            font-family:'Times New Roman', Times, serif;
            font-size: 13px;
            color: #c3c3c3;
        }

        && .headerlinks {
            float: right;
            display: flex;
            margin: 0;

            && li {
                list-style-type: none;

                && .login, .signup {
                    background-color: #ececec;
                    color: #f98959;
                    border: none;
                    padding: 10px 20px;
                    margin: 5px;
                    font-size: 16px;
                    border-radius: 5px;
                    cursor: pointer;
                    text-decoration: none;
                }

                && .login:hover, .signup:hover {
                    background-color: #f98959;
                    color: #ececec;
                }
            }
        }
    }
}

.maincontent {
    height: 75vh;
    overflow: scroll;
    padding: 20px;
}
.two-col-layout {
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
    overflow: scroll;
}

.column {
    flex: 0.5;
    padding:1em;
    overflow: scroll;
}

.column1 {
    background-color: #3d3d3d;
    color: #e4e4e4;
}

.column2 {
    background-color: #3d3d3d;
    color: #e4e4e4;

    && video {
        width: 45vw;
        height: 45vh;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 2px solid #ededed;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

th:first-child {
    background-color: #0073e6;
    color: white;
}

tr:nth-child(even) {
    background-color: #ff5353;
}

td:nth-child(5) {
    font-weight: bold;
    color: #009900;
}
td:nth-child(5):hover {
    color: #d4d11d;
}

.skills-and-experience {
    /* padding: 20px; */
}

details {
    margin: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style the <summary> element */
summary {
    font-weight: bold;
    color: #f98959; /* Orange color */
    cursor: pointer;
    outline: none; /* Remove the default browser outline */
}

.certifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Hover effect: Enlarge and add shadow on hover */
.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
    max-width: 100%;
    height: 150px;
    display: block;
}

.gallery-item figcaption {
    text-align: center;
    padding: 10px;
    background-color: #f98959;
    color: white;
    font-weight: bold;
    opacity: 0.8;
    transition: opacity 0.2s;
}


footer {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.mailto, .tel {
    color: #e4e4e4;
}

.linkedin {
    float: right;
    position: relative;
    right: 50px;
    color: #e4e4e4;
}