body {
    /* background-image: url("images/background-picture.webp"); */
    padding: 0 20px;
    background-color: aliceblue;
}

header {
    display: block;
    padding: 20px;
}

header img {
    width: 100px;
    height: 100px;
}

.website-title-container {
    display: flex;
    background-color: black;
}
.website-title-container h1 {
    margin-left: 25px;
    color: white;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tabs {
    display: flex;
    padding: 0;
}
.tabs li {
    flex: auto;
    background-color: #000080;
    padding: 15px;
    text-transform: uppercase;
    list-style-type: none;
    text-align: center;
}
.tabs li a {
    text-decoration: none;
    color: #ececec;
}

.footer {
    display: block;
    position: absolute;
    left: 0;
    /* bottom: 0; */
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

details {
    display: block;
    padding: 15px;
}
