// Import pages' scss
@import 'scss/layouts/grid-layout.scss';

@import 'scss/common/header.scss';
@import 'scss/common/footer.scss';

/* SCSS for web pages */
@import 'scss/pages/index.scss';
@import 'scss/pages/cars-list.scss';

body {
    margin: 0;
}

:root {
    --primary-color: rgb(190, 230, 254);
    --font-size: 20px;
}


