@import './../common/mixins';

$white: #fff;

/* Mixins */
.brandName {
    @include important-text;
}

/* Functions */
@function calculate-border-width($base-width, $multiplier) {
    @return $base-width * $multiplier;
}

// Define variables
$base-border-width: 2px;
$border-multiplier: 1.5;

// Use the custom function
.function-use {
    border: calculate-border-width($base-border-width, $border-multiplier) solid #0074D9;
    padding: 5px;
}

.homepage-container {
    padding: 20px;
    background-color: var(--primary-color); /* Custom Properties */
}

.video {
    width: 100vw;
}

/* Flexbox Layout 1 */
.flex-container-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
}

.flex-item {

    padding: 20px;
    text-align: center;
    /* Nesting */
    img {
        height: auto;
        width: 150px;
    }
}

/* Testimonials Grid Container */
.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;
}

/* Testimonial Card */
.testimonial {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    // Nesting
    h2 {
        font-size: 20px;
        color: #5c5c5c;
        margin: 10px 0;
    }

    img {
        width: 150px;
    }

    p {
        font-size: 16px;
        color: #666;
        margin: 10px 0;
    }
}

/* Hover Effect for Testimonial Cards */
.testimonial:hover {
    transform: scale(1.03); /* Enlarge the card on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #7cbedf;
    color: $white;
}

/* Adjust hover effect for the Testimonial Name */
.testimonial h2:hover {
    color: $white;
}

/* Adjust hover effect for the Testimonial Feedback */
.testimonial p:hover {
    color: $white;
}